{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <h2 class="section-title">Uma empresa de Santa Catarina</h2>
                </div>
                <div class="content">
                  <p>
                    Com dois escritórios, um no litoral de Santa Catarina na cidade de Balneário Camboriú e outro em São
                    Lourenço do Oeste, a ANG TRADING é uma empresa pertencente ao Grupo ANG juntamente com a Stato Dell
                    Arte, além de seus 2 escritórios a empresa conta com um armazém de 5.000 m² na cidade de Capivari de
                    Baixo para armazenar as mercadorias que chegam dos portos

                    Clique no botão abaixo para saber mais sobre o Grupo ANG
                  </p>
                  <a href="https://statodellarte.com.br/" class="btn btn-common mt-3">O Grupo ANG</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/options/cargo7.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>