{% load static %}
<section id="contact" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Entre em Contato</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="contact-block">
              <form id="contactForm" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="Nome" placeholder="Nome" required data-error="Favor informar seu nome">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="Email" id="Email" class="form-control" name="email" required data-error="Coloque o seu e-mail">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Assunto" id="Subject" name="Assunto" class="form-control" required data-error="Coloque o assunto">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="Message" name="Mensagem" placeholder="Mensagem" rows="7" data-error="Escreva sua mensagem" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-left">
                      <button class="btn btn-common" id="form-submit" type="submit">Enviar Mensagem</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="map">
              <iframe src='  https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3574.8925647955407!2d-52.85117202483127!3d-26.362336670432487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94fab0ec129632a9%3A0xf2af81c8fade6406!2sRua%20Jarbas%20Mendes%2C%20270%20-%20Santa%20Catarina%2C%20S%C3%A3o%20Louren%C3%A7o%20do%20Oeste%20-%20SC%2C%2089990-000!5e0!3m2!1spt-BR!2sbr!4v1700085356884!5m2!1spt-BR!2sbr' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>