{% load static %}
<section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Mais Sobre a ANG TRADING</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="lni-eye"></i>
                </span>
                <div class="text">
                  <h4>Conferência</h4>
                  <p>Iremos analisar e conferir todos os documentos para evitar problemas com a receita federal</p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="lni-menu-circle"></i>
                </span>
                <div class="text">
                  <h4>Enquadramento Fiscal</h4>
                  <p>Analisaremos o melhor enquadramento fiscal do seu produto para baratear a operação</p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="lni-move"></i>
                </span>
                <div class="text">
                  <h4>Frete</h4>
                  <p>Preços de fretes exclusivos e com 30 dias de pagamento após a chegada da mercadoria no Brasil</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/options/cargo8.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="lni-notepad"></i>
                </span>
                <div class="text">
                  <h4>Processo</h4>
                  <p>Manteremos você informado o tempo todo sobre o status da sua mercadoria</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="lni-layers"></i>
                </span>
                <div class="text">
                  <h4>Despacho Aduaneiro</h4>
                  <p>Não se preocupe com o despacho, trataremos de resolver isso em qualquer estado do Brasil</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="lni-bookmark"></i>
                </span>
                <div class="text">
                  <h4>Excelência</h4>
                  <p>90% dos nossos clientes indicam o nosso trabalho e voltam a fazer negócios com nós</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>