{% load static %}
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/about/logo_ang_trading_positivo1.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Alavancar os negócios dos nossos clientes buscando a melhor solução comercial ao redor do mundo, essa é a nossa missão</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="https://www.facebook.com/profile.php?id=100085209756393"><i class="lni-facebook-filled"></i></a>
                  <a class="instagram" href="https://www.instagram.com/ang_trading/"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="https://www.linkedin.com/company/83499105/admin/feed/posts/"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Serviços</h3>
              <ul class="footer-link">
                <li><a href="#">Importação</a></li>
                <li><a href="#">Exportação</a></li>
                <li><a href="#">Viagens Internacionais</a></li>
                <li><a href="#">Despacho Aduaneiro</a></li>
                <li><a href="#">Fretes</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Rua Jarbas Mendes - 162 <br> São Lourenço do Oeste - SC</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> +55 (49) 3344-3114</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> vitor@grupoang.com.br</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2023 <a rel="nofollow">Vitor Spricigo Angheben</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>