{% load static %}
<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">ANG TRADING<br></h2>
                <p>A mais de 30 anos no mercado a ANG Trading, empresa pertencente ao GRUPO ANG, atende em todo o
                  território nacional proporcionando as melhores soluções comerciais ao redor do mundo aos nossos
                  clientes</p>
                <img class="img-boat" src="{% static 'img/options/nv3.png'%}" alt="">
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/options/nv2.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        {% if messages %}
          {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
              <button type="button" class="close" data-dismiss="alert"></button>
              <strong> {{ m }} </strong>
            </div>
          {% endfor %}
        {% endif %}

      </div>

</header>
    <!-- Header Area wrapper End -->
