{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <!-- Responsive navbar-->
            {% include 'navbar.html' %}
        <!-- Header-->
            {% include 'header.html' %}
        <!-- Header -->

        <!-- Features section-->
            {% include 'features.html' %}
        <!-- Features section-->

        <!-- Pricing section-->
            {% include 'pricing.html' %}
        <!-- Pricing section-->

        <!-- Testimonials section-->
            {% include 'testimonial.html' %}
        <!-- Testimonials section-->

        <!-- Contact section-->
            {% include 'contact.html' %}
        <!-- Contact section-->

        <!-- Footer-->
        {% endblock %}
