{% load static %}
<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Preços</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$</p>
              </div>
              <div class="title">
                <h3>Importação</h3>
              </div>
              <ul class="description">
                <h2>
                  Entregaremos a você uma estimativa de importação completa com todos os custos, entre em contato com a
                  nossa equipe para auxiliarmos na sua demanda.
                </h2>
              </ul>
              <button class="btn btn-common">Entre em Contato</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-bar-chart"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$</p>
              </div>
              <div class="title">
                <h3>Exportação</h3>
              </div>
              <ul class="description">
                <h2>
                  Entregaremos a você uma estimativa completa com todos os custos, entre em contato com a nossa equipe
                  para auxiliarmos na sua demanda.
                </h2>
              </ul>
              <button class="btn btn-common">Entre em Contato</button>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-bitcoin"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">€</p>
              </div>
              <div class="title">
                <h3>Viagens Internacionais</h3>
              </div>
              <ul class="description">
                <h2>
                  Levaremos você nas principais feiras para conhecer seus fornecedores e explorar novas oportunidades.
                </h2>
              </ul>
              <button class="btn btn-common">Entre em Contato</button>
            </div>
          </div>
        </div>
      </div>
    </section>