{% load static %}
<section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Testemunhos</h2>
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
                <div class="item">
                  <div class="testimonial-item">
                    <div class="img-thumb">
                      <img src="{% static 'img/testimonial/enele.png' %}" alt="">
                    </div>
                    <div class="info">
                      <h2><a href="#">ENELE</a></h2>
                    </div>
                    <div class="content">
                      <p class="description">Importamos a 10 anos com a ANG Trading e conseguimos ótimas máquinas para a nossa linha de produção de fornecedores da China</p>
                      <div class="star-icon mt-3">
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="img-thumb">
                      <img src="{% static 'img/testimonial/ideal_portas.jpg' %}" alt="">
                    </div>
                    <div class="info">
                      <h2><a href="#">Ideal Portas</a></h2>
                    </div>
                    <div class="content">
                      <p class="description">Importamos máquinas para moldar madeira e também matéria prima para a nossa indústria o que redurziram os custos operacionais</p>
                      <div class="star-icon mt-3">
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="img-thumb">
                      <img src="{% static 'img/testimonial/livi.jpg' %}" alt="">
                    </div>
                    <div class="info">
                      <h2><a href="#">Livi Motorcyle Parts</a></h2>
                    </div>
                    <div class="content">
                      <p class="description">Já importamos desde fechaduras para bauletes até máquinas de solda com a ANG Trading trazendo uma ótima qualidade nos nossos produtos </p>
                      <div class="star-icon mt-3">
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="img-thumb">
                      <img src="{% static 'img/testimonial/sao benedito.png' %}" alt="">
                    </div>
                    <div class="info">
                      <h2><a href="#">Construtora São Benedito</a></h2>
                    </div>
                    <div class="content">
                      <p class="description">Devido aos altos custos dos maquinários no Brasil decidimos ir a China a primeira vez com a ANG Trading em 2012 e até hoje importamos máquinas para a nossa construtora</p>
                      <div class="star-icon mt-3">
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                        <span><i class="lni-star-filled"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
